
<div class="current-orders">
  <% i = 0 %>

  <% current_user.business.orders.each do |order| %>
    <% if order.created_at.today? == true %>
      <div class="card-current-order">
        <div class="order-number"><%= i = i + 1  %></div>
        <div class="food-info">
          <div class="food-name"><%= order.food.name %></div>
          Dietary Category: <%= order.food.dietary_category%>
        </div>

        <div class="pick-info">
          <div class="portions-and-number">
            <div class="portion"><%= order.food.portion %></div>
            Portions
          </div>

        </div>

        <div class="cust-info">
          <div class="made-by">Made by <strong><%= order.customer.first_name %> <%= order.customer.last_name %></strong></div>
          <div class= "price-style"> <%=humanized_money_with_symbol( order.food.price) %>.00</div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
