

<div class="profile-container">
  <div class="profile-info">
    <div class="user-business-name"> Hello  <%= current_user.business.name %> </div>

    <div class="profile-row">
      <div class="title"> Description:</div>
      <div class="content">
        <%= current_user.business.description %>
      </div>
      <div class="edit-button">
        <%= link_to "Edit", edit_business_path(current_user.business)  %>
      </div>
    </div>


    <div class="category-row">
      <div class="title-category">Category:</div>
        <div class="content-category">
         <%= current_user.business.dietary_category %>   <%= image_tag "bread" %>
        </div>
        <div class="edit-button">
          <%= link_to "Edit", edit_business_path(current_user.business)  %>
        </div>
    </div>
    
    <div class="address-row">
      <div class="title-address">Address:</div>
      <div class="content-address">
        <%= current_user.business.address %>
      </div>
      <div class="edit-button">
        <%= link_to "Edit", edit_business_path(current_user.business)  %>
      </div>
    </div>
  </div>

</div>
