<div class="navbar-wagon <%= yield(:navbar_class) %> <%= 'index-page' if @index_page %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <% if @home %>
      <%= image_tag "meal_icon_white.png", height: 120 %>
      <h4 class="white-name">Feed</h4>
    <% else %>
      <%= image_tag "meal_icon.png", height: 50 %>
      <h4 class="green-name">Feed</h4>
    <% end %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>
     <!-- Links when logged in -->


      <!-- Links when logged in -->

      <%#= link_to "Eat", "#", class: "navbar-wagon-item navbar-wagon-link" %>

       <% if !current_user.customer.nil? && !@home %>
        <%= link_to cart_path(current_user.customer.cart) do %>
          <%= image_tag 'shopping-cart-red.png', class: "avatar" %>
        <% end %>
        <%= current_user.customer.cart.cart_details.size %>
      <% end %>


      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "avatar-icon.png", class: "avatar dropdown-toggle shopping-cart-white", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to dashboard_path(@user) do %>
                 <%= t(".dashboard", default: "Dashboard") %>
              <% end %>
            </li>

            <li>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
      </div>


    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

