<%= content_for(:navbar_class, "navbar-home") %>




<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 5%), url('<%= image_path 'salad.jpg' %>');" >
  <div class="banner-content text-center">
    <h1>Do good: feel good</h1>
    <p>Find tasty meals and fresh groceries</p>
    <%= link_to "Try it now", foods_path , class: "btn btn-lg btn-success"  %>
  </div>
</div>

<div class="footer">

    <h4>A true win-win situation</h4>
    <p>Find tasty meals and fresh groceries, get to know restaurants, hotels and supermarkets near you.</p>
  <div class="flex-services">
    <div class="quick-and-easy">
      <%= image_tag 'quick.png' %>
      <p><h6>Quick and Easy</h6> Find the best meals from your favorite restaurants,<br>hotels or fresh groceries from supermarkets,<br> purchase them, pickup and enjoy at home.</p>
    </div>

    <div class="affordable">
      <%= image_tag 'affordable.png' %>
      <p><h6>Affordable</h6>Hundreds of surplus tasty meals and fresh groceries,<br>save up to 80% from restaurants,<br> hotels, and supermarkets prices.</p>
    </div>

    <div class="planet">
      <%= image_tag 'planet.png' %>
      <p><h6>Save the Planet</h6> Go green by caring about the environment,<br> reduce unnecessary emissions caused by food production.</p>
    </div>
  </div>
</div>

