
<div class="new_food_item_container">

<h3>Add a new food item</h3>

  <%= simple_form_for @food do |f| %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>

    <%= f.input :name %>
    <%= f.input :description, as: :text, :input_html => { :rows => 4 , :style => 'width: 100%'} %>

    <%= f.input :portion %>
    <%= f.input :dietary_category, :collection => %w[Vegan Vegetarian Bio Kosher Gluten Free] %>

    <%= f.input :food_type, :collection => %w[Meat Dairy Produce Beverage Other] %>


    <%= f.input :order_before, as: :datetime, html5: true %>
    <%= f.input :pickup_start, as: :datetime, html5: true %>
    <%= f.input :pickup_end, as: :datetime, html5: true %>

    <%= f.input :sku %>


    <%= f.input :price_cents %>

    <%= f.submit "Add to inventory", class: "btn-primary" %>
  <% end %>
</div>
