<div class="food-show-card">

  <div class="food-picture">
    <%= image_tag "salad2" %>
    <div class="diet-icons"></div>
  </div>

  <div class="food-card-text">
    <div class="item-details">
      <div class="food-name">
        <h3><%= food.name %></h3>
        <div class="food-description">
          <%= food.description %>
        </div>
      </div>
      <div class="food-price">
      $<%= humanized_money_with_symbol(food.price) %>.<sup>06</sup>
    </div>
    </div>


    <div class="restaurant-details">
      <div class="restaurant-name">
      <h3><%= food.business.name %></h3>
      </div>
      <div class="restaurant-address">
        <%= food.business.address %>
      </div>
    </div>


    <div class="order-details">
      <div class="portions-number">
        <div class="circle"><h5><%= food.portion %></h5></div>  Portions left
      </div>
      <div class="pickup-time">
        <h5>Pick-up</h5>
        before <%= food.pickup_end.strftime("%I:%M %p") %>
      </div>
    </div>
  </div>


    <%= form_tag food_orders_path(food) do %>
      <%= hidden_field_tag 'food', food.id %>
      <%= submit_tag 'Order', class: 'order-button order-btn' %>
    <% end %>


</div>
