<div class="main-container">
  <div class="food-container">
    <div class="row">


      <% @foods.each do |food| %>

      <!-- <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">

      </button> -->

        <div class="col-xs-12">
          <div class="food-card" data-toggle="tooltip" data-placement="right">
            <div class="food-card-icon"></div>
            <div class="food-card-content">
              <div class="food-type">
                <p> <%= food.food_type%></p>
                <h4> <%= food.name %> </h4>
              </div>
              <div class="food-price">
                <h4> <%= food.price %></h4>
              </div>
            </div>
            <%= render "foods/show", food: food %>
          </div>
        </div>

      <% end %>
    </div>




  </div>

  <div
  id="map"
  data-markers="<%= @markers.to_json %>"
  ></div>

</div>
