<div class="main-container">

  <div class="food-container col-xs-4">

      <% @foods.each do |food| %>
        <div class="col-xs-12 wrapper-card">
          <%#= link_to '', '#', class: 'card-link', data: { toggle: 'tooltip', placement: 'right', html: true } %>
          <div class="food-card" data-toggle="tooltip" data-placement="right">

            <div class="food-card-content">

              <div class="food-item">
                <p><%= image_tag "burger_icon", size: "20x16" %> <%= image_tag "carrot_icon", size: "20x16" %></p>
              <h4> <%= food.name %> </h4>
              <h5><%= food.business.name %></h5>
              </div>

              <div class="food-price">
                <h4>$ <%= food.price %></h4>
              </div>

            </div>
            <%= render "foods/show", food: food %>
          </div>

        </div>

      <% end %>
  </div>

  <div id="map" data-markers="<%= @markers.to_json %>"></div>

</div>

<!-- <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
</button> -->
