<div class="results-wrapper">
  <div class="results-column">
    <div class="dietary-filters">
      <h2>Dietary</h2>
<br>
      <a><li class="dietary-category"><%= image_tag "foods/category_icons/vegan" %> Vegan</li></a>
      <li class="dietary-category"><%= image_tag "foods/category_icons/pescatarian" %> Mochachino</li>
      <li class="dietary-category"><%= image_tag "foods/category_icons/lactose-free" %> Lactose-free</li>
      <li class="dietary-category"><%= image_tag "foods/category_icons/vegetarian" %> Vegetarian</li>
      <li class="dietary-category selected"><%= image_tag "foods/category_icons/pescatarian" %> Pescatarian</li>
      <li class="dietary-category"><%= image_tag "foods/category_icons/meat" %> Meat</li>
      <li class="dietary-category"><%= image_tag "foods/category_icons/dairy" %> Dairy</li>
    </div>

    <div class="food-filter">
      <h2>Food filters</h2>
      <%= simple_form_for "Foodtypes" do |f| %>
        <%= f.input :food_type, input_html: { multiple: true } %>
      <% end %>
    </div>

    <div class="food-items">
      <ul>
        <% @foods.each do |food| %>
        <div class="food-card">
          <li>
            <%= image_tag "foods/category_icons/meat" %> <%= image_tag "foods/category_icons/vegan" %> <br>
            <div class="food-name">
              <%= food.name %>
            </div>
          <div class="restaurant_name">
            <%= food.business.name %>
          </div>
            <%= food.price %>
          </li>
        </div>

        <% end %>
      </ul>

    </div>

  </div>

  <div class="results-map">
  </div>
</div>
